<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3 mat-dialog-title>{{adversaire.username}} <div class="text-muted">vous invite dans une partie</div></h3>


            <div mat-dialog-actions>
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-success" mat-button [mat-dialog-close]="true">Accepter</button>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-danger" mat-button [mat-dialog-close]="false"
                                cdkFocusInitial>Refuser</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>