<div class="container text-align-center">
    <div class="row align-items-center espace">
        <div class="col-12">
            <h1 class="text-center">{{ message }}</h1>
        </div>
    </div>
</div>