@import '~bootstrap/dist/css/bootstrap.min.css';

.card {
    width: 7rem;
}

h1 {
    color : #ff000f; 
    -webkit-text-stroke: 0.7px black;
}

h2 {
    color : #ffffff; 
}

.bluebg{
    background-color : #427eed;
}