<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="card border-dark mb-3 text-center bluebg" style="width: 25rem;">
        <h1 class="card-title">{{adversaire}}</h1>
        <h2> doit deviner </h2>

        <div *ngIf="carte">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="card border-dark mb-3 text-center" style="width: 15rem;">
                    <img class="card-img-top" src='{{carte.url}}' alt="Card image cap">
                    <div class="card-footer">
                        {{carte.prenom}} {{carte.nom}}
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
    </div>
</div>