<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <h2>Utilisateurs connectés</h2>

            <table class="table user-list">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a>{{username}}</a>
                        </td>
                        <td class="text-center">
                            <br>
                            <br>
                        </td>
                    </tr>
                    <tr *ngFor="let joueur of joueurs">
                        <td>
                            <a>{{joueur.username}}</a>
                        </td>
                        <td class="text-center">
                            <div *ngIf="!joueur.inviter">
                                <a class="table-link danger" (click)="invitation(joueur)">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>