<h3 mat-dialog-title>Voulez-vous vraiment revenir à la page d'accueil ?</h3>



<div mat-dialog-actions>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success" mat-button [mat-dialog-close]="true">Confirmer</button>
            </div>
            <div class="col text-center">
                <button class="btn btn-danger" mat-button [mat-dialog-close]="false" cdkFocusInitial>Annuler</button>
            </div>
        </div>
    </div>
</div>
