<div class="container text-align-center">
    <div class="row align-items-center espace">
        <div class="col-12">

            <div class="input-group w-25 mx-auto">
                <div class="form-group">
                    <input type="text" maxlength="20" class="form-control" id="username" name="username"
                        [(ngModel)]="username" placeholder="Nom d'utilisateur" (keyup.enter)="start()">
                </div>

                <div [hidden]="username">
                    <button class="btn btn-primary" (click)="start()" disabled>
                        Jouer
                    </button>
                </div>
                <div [hidden]="!username">
                    <button class="btn btn-primary" (click)="start()">
                        Jouer
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>