@import '~bootstrap/dist/css/bootstrap.min.css';

.prenom{
    font-size: 20px;
}

.nom{
    font-size: 12px;
}

.redbg{
    background-color: #ed4242;
}

h1 {
    color : #ffffff; 
}

.card {
    width: 8rem;
}

.flou-faible {
    opacity : 0.9;
}

.flou-faible:hover{
    opacity : 1
}