<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="panneau">


        <div class="card border-dark mb-3 text-center redbg" style="width: 70rem;"> 
            <h1 class="card-title"> Sélectionner la carte que {{adversaire}} devra deviner</h1>
            <mat-grid-list cols="8" rowHeight="250">
                <div *ngFor="let carte of cartes">
                    <mat-grid-tile>

                        <div class="card border-dark mb-3 flou-faible">
                            <img class="card-img-top" src='{{carte.url}}' alt="Card image cap"
                            (click)="selection(carte)">
                            <div class="card-footer">
                                <div class="prenom">{{carte.prenom}} </div>
                                <div class="nom">{{carte.nom}} </div>
                            </div>
                        </div>


                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </div>


    </div>
</div>