@import '~bootstrap/dist/css/bootstrap.min.css';

.prenom{
    font-size: 20px;
}

.nom{
    font-size: 12px;
}

.redbg{
    background-color: #ed4242;
}

/** DESIGN DES CARTES **/
.cross {
    position: relative;
    display: inline-block;
}

.cross::before,
.cross::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 35%;
}

.cross::before {
    border-bottom: 5px solid #000000;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-45deg);
}

.cross::after {
    border-bottom: 5px solid #000000;
    -webkit-transform: skewY(10deg);
    transform: skewY(45deg);
}

.card {
    width: 8rem;
    text-align: center;
}

.flou-faible {
    opacity : 0.7;
}

.flou-faible:hover{
    opacity : 1
}

.flou-fort {
    opacity : 0.3;
}



/** DESIGN DES BOUTONS **/

.panneau button {
    padding: 1rem;
    border: none;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
}

.panneau button:hover {
    color: white;
    background-color: #42545C;
}

.panneau button.active {
    background-color: black;
}

