<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="panneau">


        <div class="card border-dark mb-3 text-center redbg" style="width: 70rem;">
            <mat-grid-list cols="8" rowHeight="250">
                <div *ngFor="let carte of cartes">
                    <mat-grid-tile>

                        <div *ngIf="affichageProposition === 0; else choixSolution">

                            <div *ngIf="carte.etat; else carteBarre">
                                <div class="card border-dark mb-3">
                                    <img class="card-img-top" src='{{carte.url}}' alt="Card image cap"
                                        (click)="carte.etat =! carte.etat">
                                    <div class="card-footer">
                                        <div class="prenom">{{carte.prenom}} </div>
                                        <div class="nom">{{carte.nom}} </div>
                                    </div>
                                </div>
                            </div>
                            <ng-template #carteBarre>
                                <div class="card cross border-dark mb-3">
                                    <img class=" card-img-top" src='{{carte.url}}' alt="Card image cap"
                                        (click)="carte.etat =! carte.etat">
                                    <div class="card-footer">
                                        <div class="prenom">{{carte.prenom}} </div>
                                        <div class="nom">{{carte.nom}} </div>
                                    </div>
                                </div>
                            </ng-template>

                        </div>
                        <ng-template #choixSolution>

                            <div *ngIf="carte.etat; else carteBarre">
                                <div class="card flou-faible border-dark mb-3">
                                    <img class="card-img-top" src='{{carte.url}}' alt="Card image cap"
                                        (click)="proposition(carte)">
                                    <div class="card-footer">
                                        <div class="prenom">{{carte.prenom}} </div>
                                        <div class="nom">{{carte.nom}} </div>
                                    </div>
                                </div>
                            </div>
                            <ng-template #carteBarre>
                                <div class="card cross flou-fort border-dark mb-3">
                                    <img class=" card-img-top" src='{{carte.url}}' alt="Card image cap">
                                    <div class="card-footer">
                                        <div class="prenom">{{carte.prenom}} </div>
                                        <div class="nom">{{carte.nom}} </div>
                                    </div>
                                </div>
                            </ng-template>

                        </ng-template>

                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </div>



        <div class="col text-center">
            <button type="button"
                (click)="affichageProposition = 1 - affichageProposition; texteBouton = this.affichageProposition === 0 ? 'Proposer une réponse' : 'Annuler la proposition' ">
                {{texteBouton}}
            </button>
        </div>


    </div>
</div>