<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="d-flex align-items-center flex-column">

    <div class="p-2">
        <h1>{{usernamePerso}} VS {{usernameAdverse}}</h1>
    </div>

    <br>


    <div class="p-2">
        <button class="btn btn-success btn-lg" (click)="start()" [disabled]="!checkedFR&&!checkedTSP&&!checkedFIPA">
            Commencer la partie </button>
    </div>

    <br>
    <br>
    <br>

    <div *ngIf="!admin">
        <div class="p-2">
            <h2>Votre adversaire choisit la configuration de la partie.</h2>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="p-2">
        <section class="example-section" [formGroup]="qcm">
            <h4>Catégories:</h4>
            <br>
            <p>
                <mat-checkbox formControlName="frerots" [disabled]="!admin||checkedTSP||checkedFIPA" [(ngModel)]="checkedFR">Frérots
                    ({{effectif[0]}})
                </mat-checkbox>
            </p>
            <p>
                <mat-checkbox formControlName="tsp" [disabled]="!admin||checkedFR" [(ngModel)]="checkedTSP">Télécom
                    SudParis
                    ({{effectif[1]}})
                </mat-checkbox>
            </p>
            <p>
                <mat-checkbox formControlName="fipa" [disabled]="!admin||checkedFR" [(ngModel)]="checkedFIPA">FIPA
                    ({{effectif[2]}})
                </mat-checkbox>
            </p>
        </section>
    </div>


</div>