<br>
<br>
<br>
<br>
<div class="d-flex align-items-center flex-column">

    <div class="p-2">
        <h1>{{message}}</h1>
    </div>

    <div class="p-2">
        <h4 class="text-muted">Votre adversaire avait choisit la carte</h4>
    </div>

    <div class="p-2">
        <div class="card border-dark text-center" style="width: 20rem;">
            <img class="card-img-top" src='{{urlImageAdverse}}' alt="Card image cap">
        </div>
    </div>

    <div class="p-2">
        <button class="btn btn-{{etat}} btn-lg" routerLink="/accueil"> Revenir à l'accueil </button>
    </div>

</div>