<br>
<br>
<div class="d-flex justify-content-around">
    <div class="mr-auto p-2 align-self-center">
        <app-section-carte-mystere></app-section-carte-mystere>
    </div>
    <div class="p-2">
        <app-section-jeu></app-section-jeu>
    </div>
</div>